JMMServer/Repositories/Providers/MyAnimeList/XMLSchema/SearchResult.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="anime">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="entry">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:int" />
              <xs:element name="title" type="xs:string" />
              <xs:element name="english" type="xs:string" />
              <xs:element name="synonyms" type="xs:string" />
              <xs:element name="episodes" type="xs:int" />
              <xs:element name="score" type="xs:decimal" />
              <xs:element name="type" type="xs:string" />
              <xs:element name="status" type="xs:string" />
              <xs:element name="start_date" type="xs:string" />
              <xs:element name="end_date" type="xs:string" />
              <xs:element name="synopsis" type="xs:string" />
              <xs:element name="image" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>